---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Liens utiles">
    <div class="text">
        <h2>Logiciels utilisés</h2>
        <ul>
            <li><a href="https://unity.com/" target="_blank">Unity</a> : Moteur de jeu 2D/3D</li>
        </ul>
    </div>
</BaseLayout>